@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}

section{
    padding: 180px 0 0;
}
.card{
    position: relative;
    height: 450px;
overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

